.date-range-picker {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.text {
    font-size: 16px !important;
}

mat-label {
    font-size: 16px !important;
}

.date-range-field {
    width: 80%;
}

.start {
    margin-right: 16px;
}