 
  .data-card {
    margin: 1rem;
    text-align: center;
  }
  
  .stat {
    width: fit-content;
    text-align: center;
  }
  
  .title {
    background-color: #3b3b3b;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  
    h3 {
        text-align: left;
        margin: 10px;
    }
  }
  
  .footer {
    text-align: left;
    margin-left: 12px;
    color: #8a8a8a;
  }
  
  .total-stats {
    padding: 16px;
    p {
        margin: auto;
    }
  }