.active-link { 
  font-weight: 1000;
  color: rgb(255, 255, 255);
}

a {
  font-family: Roboto;
  text-decoration: none;
  color: rgb(180, 180, 180);
  margin: 16px;
}

img {
  cursor: pointer;
  width: 46px;
}

.overflow-fix {
  box-sizing: border-box;
  overflow: hidden;
}


.topbar {
  display: flex;
  justify-content: space-between;
  min-width: 195px;
  width: 100%;
}

.topbar-content {
  height: 46px;
  max-width: 1280px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.content-container {
  max-width: 1280px;
  min-width: 195px;
  width: 100%;
  margin: auto;
  overflow: auto;
}