.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.active-link {
  font-weight: 500;
  color: rgb(255, 255, 255);
}

a {
  font-family: Roboto;
  font-display: swap;
  text-decoration: none;
  color: rgb(180, 180, 180);
  margin: 16px;
}

img {
  cursor: pointer;
  width: 42px;
  height: 42px;
}

.overflow-fix {
  box-sizing: border-box;
  overflow: hidden;
}


.topbar {
  display: flex;
  justify-content: space-between;
  min-width: 195px;
  width: 100%;
}

.topbar-content {
  height: 46px;
  max-width: 1280px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.content-container {
  max-width: 1280px;
  min-width: 195px;
  width: 100%;
  margin: auto;
  overflow: auto;
  flex-grow: 1;
}

.footer {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  min-width: 195px;
  width: 100%;
}

.footer-content {
  font-family: Roboto;
  font-display: swap;
  max-width: 1280px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  color: rgb(180, 180, 180);
  text-decoration: none;

  a {
    margin: 0;
    color: rgb(255, 255, 255);
    align-items: center;
  }

  img {
    width: 18px;
    height: auto;
    margin-right: 8px;
    margin-bottom: 2px;
    vertical-align: middle;
  }
}
