Django
djangorestframework==3.14.0
Requests==2.31.0
psycopg2-binary==2.9.6
celery[postgresql]
django-celery-beat==2.5.0
flower==2.0.0
redis==4.6.0
django-cors-headers==4.1.0
channels==4.0.0
channels_redis==4.1.0
daphne==4.0.0
gunicorn==20.1.0