<div class="chart-container" style="position: relative;">
    <div class="time-range-container" style="position: absolute; right: 0; top: 0;">
      <a class="time-range-option" 
         [class.selected]="timeRange === 60 * 1000" 
         (click)="setTimeRange(60 * 1000)" 
         matTooltip="Last 1 minute">
        1m
      </a>
      <a class="time-range-option" 
         [class.selected]="timeRange === 10 * 60 * 1000" 
         (click)="setTimeRange(10 * 60 * 1000)" 
         matTooltip="Last 10 minutes">
        10m
      </a>
      <a class="time-range-option" 
         [class.selected]="timeRange === 60 * 60 * 1000" 
         (click)="setTimeRange(60 * 60 * 1000)" 
         matTooltip="Last 60 minutes">
        60m
      </a>
    </div>
    <canvas #chartCanvas></canvas>
  </div>
  