<div class="chart-container" style="position: relative;">
  <div class="time-range-container" style="position: absolute; right: 0; top: 0;">
    <button class="time-range-option" [class.selected]="timeRange === 10 * 60 * 1000"
      (click)="setTimeRange(10 * 60 * 1000)" matTooltip="Last 10 minutes" aria-label="Last 10 minutes">
      10m
    </button>
    <button class="time-range-option" [class.selected]="timeRange === 30 * 60 * 1000"
      (click)="setTimeRange(30 * 60 * 1000)" matTooltip="Last 30 minutes" aria-label="Last 30 minutes">
      30m
    </button>
    <button class="time-range-option" [class.selected]="timeRange === 60 * 60 * 1000"
      (click)="setTimeRange(60 * 60 * 1000)" matTooltip="Last 60 minutes" aria-label="Last 60 minutes">
      60m
    </button>
  </div>
  <canvas #chartCanvas></canvas>
</div>