.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 16px;
}

.grid-item {
    text-align: center;
}

.stat-box {
    margin-top: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: 1px solid #575757;
    border-radius: 4px;
}

.stat-content {
    display: inline-flex;
    align-items: center;
}

.green {
    color: #4CAF50;
}

.red {
    color: #F44336;
}


.diff {
    display: flex;
    align-items: center;
}


.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.statistic-container {
    margin: 1rem;
}

.card-container {
    margin-top: 1rem;
}

.first-card {
    flex: 1 0 100%;
}

.stat {
    width: fit-content;
    text-align: center;
    font-size: 14px;
}

app-live-graph {
    padding: 12px;
}

.title {
    background-color: #3b3b3b;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    h3 {
        font-size: 20px;
        margin: 10px;
    }
}

.footer {
    margin-left: 12px;
    margin-top: -10px;
    color: #8a8a8a;
}

.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centers the element */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.text {
    margin-bottom: 16px;
    font-style: italic;
    color: rgb(236, 236, 236);
}