<div class="statistic-container">
  <div *ngIf="latestData.length > 0">
    <div class="flex-container">
      <mat-card class="first-card">
        <mat-card-title class="title">
          <h3>{{ latestData[0].name.replace('_', ' ') }}</h3>
        </mat-card-title>
        <mat-card-content>
          <div class="stat">
            <p>Total Players: <span [countUp]="latestData[0].total_players"></span>
            </p>
          </div>
          <div class="stat">
            <p>Total Servers: <span [countUp]="latestData[0].total_servers"></span>
            </p>
          </div>
        </mat-card-content>
        <app-live-graph *ngIf="latestData[0]" [chartData]="chartData[latestData[0].name]"></app-live-graph>
        <mat-card-footer class="footer">
          <p>{{ getRelativeTime(latestData[0].timestamp) }}</p>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
  <div class="card-container">
    <div fxLayout="row wrap" fxLayoutGap="1rem grid">
      <div
      fxFlex.gt-md="calc(100%/3)"
      fxFlex.gt-sm="50%"
      fxFlex.lt-md="100%"
      *ngFor="let stat of latestData.slice(1); index as i; trackBy: trackByFn">
        <div class="flex-container">
  
          <mat-card class="card">
            <mat-card-title class="title">
              <h3>{{ stat.name.replace('_', ' ') }}</h3>
            </mat-card-title>
            <mat-card-content>
              <div class="stat">
                <p>Total Players: <span [countUp]="stat.total_players"></span>
                </p>
              </div>
              <div class="stat">
                <p>Total Servers: <span [countUp]="stat.total_servers"></span>
                </p>
              </div>
            </mat-card-content>
            <app-live-graph [chartData]="chartData[stat.name]"></app-live-graph>
            <mat-card-footer class="footer">
              <p>{{ getRelativeTime(stat.timestamp) }}</p>
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>