.statistics-container {
    padding: 2rem;
    height: 100%;
    width: calc(100% - 4rem);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.grid-container .card:first-child {
    grid-column: span 3;
}

@media (max-width: 900px) {
    .first-card {
        grid-column: span 2;
    }
}

@media (max-width: 600px) {
    .first-card {
        grid-column: span 1;
    }
}


.stat {
    width: fit-content;
}

app-live-graph {
    padding: 12px;
}

.title {
    background-color: #3b3b3b;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    h3 {
        margin: 10px;
    }
}

.footer {
    margin-left: 12px;
    color: #8a8a8a;
}