@use '@angular/material' as mat;
@import '@angular/material/theming';
@include mat-core();

$custom-blue-green: (
  50: #e0f7fa,
  100: #b2ebf2,
  200: #80deea,
  300: #4dd0e1,
  400: #26c6da,
  500: #22cfcf,
  600: #1de9b6,
  700: #1de9b6,
  800: #1de9b6,
  900: #1de9b6,
  A100: #a7ffeb,
  A200: #64ffda,
  A400: #1de9b6,
  A700: #00bfa5,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  )
);

$primary: mat-palette($custom-blue-green);
$accent: mat-palette($mat-light-green, A200, A100, A400); // lighter green
$warn: mat-palette($mat-red, 900); // dark red

$theme: mat.define-dark-theme((
 color: (
   primary: $primary,
   accent: $accent,
   warn: $warn,
 )
));
@include angular-material-theme($theme);

// Extract the colors
$primary-color: mat-color($primary);
$accent-color: mat-color($accent);
$warn-color: mat-color($warn);

// Correct way to extract background and foreground colors
$background-palette: map-get($theme, background);
$background-color: mat-color($background-palette, background);

$foreground-palette: map-get($theme, foreground);
$foreground-color: mat-color($foreground-palette, text);

html, body { 
    height: 100%; 
    margin: 0;
    padding: 0;
    background-color: $background-color; // Use the background color from the theme
}
body { 
    font-family: monospace; 
    font-display: swap;
    color: $foreground-color; // Use the foreground color from the theme
}
  
p a {
  font-display: swap;
}